/*
 * Styles for vocabulary program.
 *
 * This may be used in combination with
 * Twitter Bootstrap style sheets, which
 * provide responsive design for mobile
 * devices, so we don't want to mess up
 * layout and text sizes here.  Use this
 * style sheet mainly for minor attributes
 * like text color, italics, etc.
 */

.message {
    color: red;
}

.jumbled_word {
    /* make separate text elements appear as one word */
    margin-right: -5px;
}

.highlight {
    color: black;
    background-color: coral;
    padding: 0px;
}
